<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SCM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GoodsClassServlet_c</display-name>
    <servlet-name>GoodsClassServlet_c</servlet-name>
    <servlet-class>scm.servlet.GoodsClassServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsClassServlet_c</servlet-name>
    <url-pattern>/storeCan/GoodsClassServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet_c</display-name>
    <servlet-name>CategoryServlet_c</servlet-name>
    <servlet-class>scm.servlet.CategoryServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet_c</servlet-name>
    <url-pattern>/storeCan/CategoryServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryDeleteServlet_c</display-name>
    <servlet-name>CategoryDeleteServlet_c</servlet-name>
    <servlet-class>scm.servlet.CategoryDeleteServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryDeleteServlet_c</servlet-name>
    <url-pattern>/storeCan/CategoryDeleteServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsServlet_c</display-name>
    <servlet-name>GoodsServlet_c</servlet-name>
    <servlet-class>scm.servlet.GoodsServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsServlet_c</servlet-name>
    <url-pattern>/storeCan/GoodsServlet_c</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>scmfilter_c</filter-name>
    <filter-class>scm.filter.ScmFilter_c</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>scmfilter_c</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAddServlet_c</display-name>
    <servlet-name>ProductAddServlet_c</servlet-name>
    <servlet-class>scm.servlet.ProductAddServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAddServlet_c</servlet-name>
    <url-pattern>/storeCan/ProductAddServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCategoryServlet</display-name>
    <servlet-name>AjaxCategoryServlet</servlet-name>
    <servlet-class>scm.servlet.AjaxCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCategoryServlet</servlet-name>
    <url-pattern>/storeCan/AjaxCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxProductServlet</display-name>
    <servlet-name>AjaxProductServlet</servlet-name>
    <servlet-class>scm.servlet.AjaxProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxProductServlet</servlet-name>
    <url-pattern>/storeCan/AjaxProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDeleteServlet_c</display-name>
    <servlet-name>ProductDeleteServlet_c</servlet-name>
    <servlet-class>scm.servlet.ProductDeleteServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeleteServlet_c</servlet-name>
    <url-pattern>/storeCan/ProductDeleteServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxProductSelectServlet_c</display-name>
    <servlet-name>AjaxProductSelectServlet_c</servlet-name>
    <servlet-class>scm.servlet.AjaxProductSelectServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxProductSelectServlet_c</servlet-name>
    <url-pattern>/storeCan/AjaxProductSelectServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerShowServlet_c</display-name>
    <servlet-name>CustomerShowServlet_c</servlet-name>
    <servlet-class>scm.servlet.CustomerShowServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerShowServlet_c</servlet-name>
    <url-pattern>/storeCan/CustomerShowServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerOperateServlet_c</display-name>
    <servlet-name>CustomerOperateServlet_c</servlet-name>
    <servlet-class>scm.servlet.CustomerOperateServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerOperateServlet_c</servlet-name>
    <url-pattern>/storeCan/CustomerOperateServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SomainShowServlet_c</display-name>
    <servlet-name>SomainShowServlet_c</servlet-name>
    <servlet-class>scm.servlet.SomainShowServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SomainShowServlet_c</servlet-name>
    <url-pattern>/storeCan/SomainShowServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SomainAddServlet_c</display-name>
    <servlet-name>SomainAddServlet_c</servlet-name>
    <servlet-class>scm.servlet.SomainAddServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SomainAddServlet_c</servlet-name>
    <url-pattern>/storeCan/SomainAddServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxSomainServlet_c</display-name>
    <servlet-name>AjaxSomainServlet_c</servlet-name>
    <servlet-class>scm.servlet.AjaxSomainServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxSomainServlet_c</servlet-name>
    <url-pattern>/storeCan/AjaxSomainServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCustomerServlet_c</display-name>
    <servlet-name>AjaxCustomerServlet_c</servlet-name>
    <servlet-class>scm.servlet.AjaxCustomerServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCustomerServlet_c</servlet-name>
    <url-pattern>/storeCan/AjaxCustomerServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SomainDeleteServlet_c</display-name>
    <servlet-name>SomainDeleteServlet_c</servlet-name>
    <servlet-class>scm.servlet.SomainDeleteServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SomainDeleteServlet_c</servlet-name>
    <url-pattern>/storeCan/SomainDeleteServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectSomainServlet_c</display-name>
    <servlet-name>SelectSomainServlet_c</servlet-name>
    <servlet-class>scm.servlet.SelectSomainServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSomainServlet_c</servlet-name>
    <url-pattern>/storeCan/SelectSomainServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxSomainSelectServlet_c</display-name>
    <servlet-name>AjaxSomainSelectServlet_c</servlet-name>
    <servlet-class>scm.servlet.AjaxSomainSelectServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxSomainSelectServlet_c</servlet-name>
    <url-pattern>/storeCan/AjaxSomainSelectServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SomainOverServlet_c</display-name>
    <servlet-name>SomainOverServlet_c</servlet-name>
    <servlet-class>scm.servlet.SomainOverServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SomainOverServlet_c</servlet-name>
    <url-pattern>/storeCan/SomainOverServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesReportServlet_c</display-name>
    <servlet-name>SalesReportServlet_c</servlet-name>
    <servlet-class>scm.servlet.SalesReportServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesReportServlet_c</servlet-name>
    <url-pattern>/storeCan/SalesReportServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxSalesReportServlet_c</display-name>
    <servlet-name>AjaxSalesReportServlet_c</servlet-name>
    <servlet-class>scm.servlet.AjaxSalesReportServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxSalesReportServlet_c</servlet-name>
    <url-pattern>/storeCan/AjaxSalesReportServlet_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet_c</display-name>
    <servlet-name>LoginServlet_c</servlet-name>
    <servlet-class>scm.servlet.LoginServlet_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet_c</servlet-name>
    <url-pattern>/LoginServlet_c</url-pattern>
  </servlet-mapping>
</web-app>